body{

background-color: rebeccapurple;
    
}


.header{
    text-decoration: bold;
    background-color: #f1f1f1;
    text-align: center;
    display: inline-block;
    width: 580px;
    position:relative;
}



#mycanvas{
	background-image: url("image/bg.png");
    background-position: center;
	border: 10px solid green;
	background-size: contain; 
    background-color: blueviolet;

}

#footer{
    width: 100%;
    display: inline;
}
